
  @media (min-width: 768px) and (max-width: 991.98px) {
    .images{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 575px) {
    .images{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width: 576px) {
    .service-sec{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width: 576px) {
    .navbar{
      display: none;
    }
    header .logo{
      font-size: 26px;
    }
    .first{
      width: 100%;
    }
    .first .ins-h{
      
      font-size: 20px;
      padding: 30px 3%;
      margin-top: -40px;
      
    }
    .one{
      display: block;
    }
    .first-one .just-one{
      margin-left: 30px;
    }
    .second-div .first-h-u{
      width: 100%;
    }
    .second-div .second-p{
      width: 100%;
    }
    .third-div{
      display: grid;
      grid-template-columns: repeat(auto fit, minmax(280px, auto));
    }
    .service-sec{
      display: grid;
      grid-template-columns: repeat(auto fit, minmax(280px, auto));
    }
    .third-sec{
      display: block;
    }
    .fifth-div{
      width: 100%;
      padding: 10px 20% 10px 0;
      margin-left: 20px;
      text-align: center;
    }
  }
@media(min-width:576px) and (max-width: 768px){
  .navbar{display: none;
  }
  .third-div{
    display: grid;
    grid-template-columns: repeat(auto fit, minmax(280px, auto));
    margin-left: 50px;
  }
  .sixth-div .ins-u{
    margin-top: 30px;
  }
}
@media(min-width: 768px) and (max-width: 1024px){
  header .logo{
    font-size: 25px;
  }
  .third-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}