*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  max-width: 1200px;
  margin-left: 10px;
}
header{
 /* padding: 2rem 9%;*/
  display: flex;
  align-items: center;
}
header nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
header h1{
  font-size: 2.6rem;
  padding: .8rem;
  color: #ff00ff;
  font-weight: bolder;
}
header a{
  margin: 1.5rem;
  padding: 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #0000ff;
  font-weight: bolder;
}

header a:hover{
color: tomato;
}
.one{
  display: flex;
  text-transform: capitalize;
  background: #ffd4cf;
}
.first{
 width: 50%;
  margin-top: 1.2rem;
  margin-left: 3rem;
}
.ins-h{
  font-size: 2rem; 
 padding: 1.2rem;
}

.first-p{
  font-size: 1.5rem;
  padding: 1.3rem;
  font-family:Arial, Helvetica, sans-serif;
}
.first-one img{
  width: 50%;
  /*height: 100%;*/
  margin-left: 4rem;
  font-size: 5rem;
}
.just-one{
  margin-top: 40px;
}
.btn{
  background: #0000ff;  
  margin-top: 1.2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 1.5rem;
  border: none;
  transition: 0.2s linear;
  margin-bottom: 1rem;
  margin-left: 1.2rem;
}

.btn:hover{
  background: #ff00ff;
  color: black;
}
.second-div{
 
 margin: 0 auto;
 text-align: center;
 padding: 3rem;
}
h3{
text-align: center;
font-size: 3rem;
margin-bottom: 1rem;
font-weight: bolder;
}
.first-h-u{
  background-color: #E55473;
  width: 70%;
  margin:  0 auto;
  color: #000000;
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: .8rem;
}
.second-p{
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.third-div{
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
.three{
  height: 360px;
  margin-left: 20px;
}
.extra-div{
  text-align: center;
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 1rem;
}
.first-img{
  margin-top: 2rem;
  background: #F2dEE7;
  border-radius: 48% 48% 0% 0%;
  width: 28%;
}
.second-img{
  margin-top: 2rem;
  margin: 0 1rem;
  background-color: #F2F2F9;
  border-radius: 48% 48% 0% 0%;
  width: 28%;
}
.third-img{
  margin-top: 2rem;
  background-color: #E3EBBD;
  border-radius: 48% 48% 0% 0%;
  width: 28%;
}
.service-sec{
  display: flex;
  justify-content: space-evenly;
  background-color: gray;
  border-radius: 1rem;
  margin-top: 80px;
  margin-bottom: 50px;
}

.delivery{
  font-size: 1rem;
  padding: 1rem;
}
.man{
  margin-right: 20px;
}
.two{
  margin-left: 50px;
}
.fresh{
  font-size: 1rem;
  padding: 1rem;
}
.free{
  font-size: 1rem;
  padding: 1rem;
}
/*.third-sec{
  display: flex;

}*/
.third-sec{
  display: flex;

}
.fifth-div{
  width: 65%;
  text-align: center;
}
.flower1{
  width: 35%;

}
.off{
  display: flex;
}
.of{
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #ff00ff;
  font-weight: bolder;
}
.btn1{
  margin-top: 2rem;
  font-size: 1.3rem;
  margin-left: 8rem;
  padding: 1rem 2rem;
  background: #ff00ff;
  border: none;
  color: #000000;
  border-radius: .8rem;
}
.btn1:hover{
  background: #0000ff;
  color: white;
}
.flower1{
  margin-bottom: 4rem;
}
.sixth-div{
  text-align: center;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}
.ins-u{
  font-size: 2.5rem;
  margin-bottom: 3rem;
  background: orange;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}
.insta{
  margin-bottom: 3rem;
}
.images{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 60px;
  row-gap: 20px;
}
.images .img6{
  
}
.last-div{
background-image: url(Rectangle\ 9.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border-radius: 10px;
text-align: center;
margin-bottom: 5rem;
padding: 5rem;
}
.last-h{
margin-bottom: 1.5rem;
  } 
  .last-p{
    
  }
.inp{
  padding: 1rem 14rem;
  border: none;
  box-shadow: .0rem .1rem .2rem;
  margin-bottom: 5rem;
}
#btn{
padding: 1rem 2rem;
font-size: 1rem;
background: rgb(248, 81, 51);
border-radius: .8rem;
border: none;
margin-top: 1.5rem;
}
#btn:hover{
  background: #0000ff;
  color: #fff;
}
footer{
  background-color: #000000;
  text-align: center;
  color: #fff;
  height: 12rem;
}
.footer-h{
padding: .8rem;
color: pink;
font-size: 2.5rem;
}
.footer-p{
  padding: .8rem;
}
.footer-l{
  padding: .8rem
  }
  .shop{
    color: #ff00ff;
    font-size: 2.6rem;
  }